footer.footer
  .container.footer__container Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo sequi provident excepturi, unde nesciunt consequatur facere magni esse asperiores, minima labore? Repellat quibusdam fugit animi possimus at! Distinctio, velit molestias.