.about-card {
    min-height: 50vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    @media (max-width: $lg) {
        background: rgba($color-black-1, .2);
    }
    &:nth-child(1) {
        @media (max-width: $lg) {
            background: #64a5b4;
        }
    }
    &:nth-child(2) {
        @media (max-width: $lg) {
            background: #abb7b7;
        }
    }
    &:nth-child(3) {
        @media (max-width: $lg) {
            background: #0f0c1b;
        }
    }
    &:nth-child(4) {
        @media (max-width: $lg) {
            background: #ccd3db;
        }
    }
    &__media {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: -2;
        @extend .img-cover;
        @media (max-width: $lg) {
            height: 50vw;
            position: relative;
        }
        @media (max-width: $sm) {
            height: 100vw;
        }
        &:before {
            @media (max-width: $lg) {
                width: 100%;
                height: 100%;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
        img {
            @media (max-width: $lg) {
                width: 200vw;
            }
        }
    }
    &:nth-child(odd) &__media img {
        @media (max-width: $lg) {
            right: initial;
            left: -100vw;
        }
    }
    &:nth-child(even) &__media img {
        @media (max-width: $lg) {
            right: -100vw;
            left: initial;
        }
    }
    &__main {
        max-width: 50%;
        flex: 0 0 50%;
        @media (max-width: $lg) {
            max-width: 100%;
            flex-basis: 100%;
        }
    }
    &:nth-child(even) &__main {
        margin-left: auto;
    }
    &__content {
        padding: 18rem 12rem;
        font-size: 2.2rem;
        color: $color-gray-1;
        @media (max-width: $lg) {
            padding: 50px var(--gap);
            font-size: 22px;
            text-align: center;
        }
        @media (max-width: $sm) {
            font-size: 18px;
        }
    }
}

.about-layout {
    &__container {
        display: flex;
        align-items: center;    
        flex-wrap: wrap;
    }
    &__list {
        margin: 0 calc(-1 * var(--gap));
        &-card {
        }
    }
}