.appeal-section {
    background: $color-white-1;
    padding: 180px 0 220px;
    position: relative;
    z-index: 0;
    &__img {
        position: absolute;
        pointer-events: none;
        &--1 {
            margin-top: -110px;
            top: 50%;
            left: -180px;
        }
        &--2 {
            margin-top: -240px;
            top: 50%;
            right: -60px;
        }
    }
    &__container {
    }
    &__title {
        margin: 0;
        white-space: nowrap;
        transition: all .8s .6s;
        &:nth-child(1) {
        }
        &:nth-child(2) {
            margin-left: 550px;
        }
        &:nth-child(3) {
            margin-left: 160px;
        }
        &--size-1 {
            font-size: 148px;
        }
        &--size-2 {
            margin-top: 80px;
            margin-bottom: 80px;
            font-size: 118px;
        }
    }
    &.is-view &__title {
        &:nth-child(1) {
            transform: translateX(60px);
        }
        &:nth-child(2) {
            transform: translateX(160px);
        }
        &:nth-child(3) {
            transform: translateX(-140px);
        }
    }
}