.appeal-section {
    background: $color-white-1;
    padding: 18rem 0 23rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
    @media (max-width: $lg) {
        padding: 190px 0 90px;
    }
    &__img {
        position: absolute;
        pointer-events: none;
        user-select: none;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        &--1 {
            width: 72rem;
            margin-top: -16rem;
            top: 50%;
            left: -18rem;
            @media (max-width: $lg) {
                width: 280px;
                margin-top: 0;
                top: 40px;
                left: 0;
            }
        }
        &--2 {
            width: 23.8rem;
            margin-top: -34rem;
            top: 50%;
            right: -6rem;
            @media (max-width: $lg) {
                width: 120px;
                margin-top: -90px;
            }
        }
    }
    &__container {
    }
    &__title {
        margin: 0;
        white-space: nowrap;
        background: -webkit-repeating-linear-gradient(top, $color-accent-2, $color-accent-2);
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        @media (max-width: $lg) {
            white-space: initial;
        }
        &:nth-child(1) {
            background: linear-gradient(45deg,$color-accent-2 30%,#07a8f1 50%,#07a8f1 100%);
        }
        &:nth-child(2) {
            background: linear-gradient(60deg,#0983bb 20%,$color-accent-2 40%,$color-accent-2 100%);
            margin-left: 55rem;
        }
        &:nth-child(3) {
            background: linear-gradient(45deg,$color-accent-2 20%,#07a8f1 40%,#07a8f1 100%);
            margin-left: 16rem;
        }
        &--size-1 {
            font-size: 14rem;
            @media (max-width: $lg) {
                font-size: 12.500vw;
            }
        }
        &--size-2 {
            margin-top: 8rem;
            margin-bottom: 8rem;
            font-size: 11rem;
            @media (max-width: $lg) {
                font-size: 12.500vw;
            }
        }
    }
}