.footer {
    background: $color-accent-2;
    padding: 40px 0;
    color: $color-white-1;
    border-top: 2px solid $color-white-1;
    &__container {
    }
    &__row {
        margin: 0 -10px;
        display: flex;
    }
    &__row-col {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        &--logo {
            max-width: 13%;
            flex: 0 0 13%;
        }
        &--nav {
            flex-grow: 1;
        }
        &--subscribe {
            max-width: 32%;
            flex: 0 0 32%;
        }
    }
    &__logo {
        width: 100%;
        max-width: 105px;
        margin: 0 auto 20px 0;
        font-size: 0;
        display: inline-block;
        vertical-align: top;
        transition: all .4s;
        &:hover {
            text-decoration: none;
            @media (min-width: $lg-mf) {
                opacity: .6;
            }
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__bottom {
        margin-top: auto;
    }
    &__copyright {
        margin: 0 0 20px;
        font-size: var(--fs-7);
    }
    &__description {
        font-size: var(--fs-7);
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        margin: 0;
        padding: 0;
        display: flex;
        font-size: var(--fs-7);
        list-style-type: none;
        li {
            margin: 0 25px 0 0;
            padding: 0;
        }
        a {
            display: block;
            @extend .area-click, .link-hover-shadow;
        }
    }
    &__sc-list {
    }
}