.good-info-section {
    background: $color-accent-4;
    color: $color-gray-1;
    overflow: hidden;
    position: relative;
    z-index: 0;
        @media (max-width: $lg) {
            background: linear-gradient(55deg, #1e5799 60%,#5971eb 100%);
            height: auto;
            padding-bottom: 0;
            position: relative;
        }
    &__media {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
        @media (max-width: $lg) {
            height: auto;
            padding-bottom: 0;
            position: relative;
        }
    }
    &__picture {
        height: 100%;
        @extend .img-cover;
        @media (max-width: $lg) {
            height: auto;
        }
        img {
            @media (max-width: $lg) {
                width: 100%;
                height: auto;
                display: block;
                position: relative;
                object-fit: initial;
            }
        }
    }
    &__container {
        height: 100vh;
        min-height: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $lg) {
            height: initial;
            min-height: initial;
            display: block;
        }
    }
    &__inner {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 120px 60px 60px;
        text-align: center;
        @media (max-width: $lg) {
            max-width: 100%;
            padding: 40px 20px;
        }
        @media (max-width: 414px) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    &__nav {
        margin: 0 0 60px;
        @media (max-width: $lg) {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    &__title {
        margin: 0 0 30px;
        font-weight: normal;
        font-size: var(--fs-2);
        line-height: 1.4;
        text-transform: uppercase;
        @media (max-width: $lg) {
            max-width: 580px;
            margin: 0 auto 40px;
            font-size: 40px;
        }
        @media (max-width: $md) {
            margin-bottom: 30px;
            font-size: 35px;
        }
    }
    &__text {
        font-size: var(--fs-6);
        @media (max-width: $lg) {
            font-size: 24px;
        }
        @media (max-width: $md) {
            max-width: 90%;
            margin: 0 auto;
            font-size: 18px;
        }
        @media (max-width: 414px) {
            max-width: 100%;
        }
    }
}

.good-info-section-list {
    &__item {
        &:nth-child(even) {
            @media (min-width: $lg-mf) {
                background: $color-accent-5;
            }
        }
    }
}