.good-section {
    background: $color-accent-4;
    color: $color-white-1;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__media {
        max-width: 50%;
        flex: 0 0 50%;
    }
    &__picture {
        position: relative;
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    &__content {
        padding: 150px 60px;
        flex-grow: 1;
    }
    &__nav {
        margin: 0 0 80px;
    }
    &__suptitle {
        margin: 0 0 30px;
        font-size: var(--fs-5);
        color: $color-accent-3;
        text-transform: uppercase;
        letter-spacing: .2em;
    }
    &__title {
        margin: 0 0 50px;
        font-weight: normal;
        font-size: var(--fs-2);
        line-height: 1.4;
        text-transform: uppercase;
    }
    &__text {
    }
}

.good-section-list {
    &__item {
        &:nth-child(even) {
            background: $color-accent-5;
        }
    }
}