.info {
    background: $color-white-1;
    padding: 10rem 0 24.2rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
    @media (max-width: $lg) {
        padding: 80px 0;
    }
    &__contaier {
        padding-right: 4.4rem;
        padding-left: 4.4rem;
    }
    &__word {
        margin: 0 0 13rem;
        text-align: center;
        white-space: nowrap;
        @media (max-width: $md) {
            margin-bottom: 60px;
        }
        &-card {
            display: inline-block;
            font-weight: bold;
            font-size: 16rem;
            color: $color-white-1;
            text-shadow: -2px -2px 0 $color-accent-2, 2px -2px 0 $color-accent-2, -2px 2px 0 $color-accent-2, 2px 2px 0 $color-accent-2;
            text-transform: lowercase;
            user-select: none;
            white-space: nowrap;
            @media (max-width: $lg) {
                text-shadow: -1px -1px 0 $color-accent-2, 1px -1px 0 $color-accent-2, -1px 1px 0 $color-accent-2, 1px 1px 0 $color-accent-2;
            }
            @media (max-width: $md) {
                font-size: 19rem;
            }
            &:not(:last-child) {
                margin-right: 15rem;
                @media (max-width: $md) {
                    margin-right: 9.5rem;
                }
            }
        }
    }
    &__title {
        max-width: 77rem;
        margin: 0 auto;
        font-weight: normal;
        font-size: 5rem;
        line-height: 1.4;
        text-align: center;
        @media (max-width: $lg) {
            max-width: 400px;
            font-size: 34px;
        }
        @media (max-width: $sm) {
            max-width: 162rem;
            font-size: 13.6rem;
        }
    }
}