.main-product {
    background: $color-white-1;
    height: 100vh;
    min-height: 560px;
    color: $color-white-1;
    overflow: hidden;
    position: relative;
    z-index: 0;
    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        @extend .img-cover;
    }
    &__video {
        z-index: -1;
    }
    &__contaier {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__content {
        max-width: 100%;
        height: 100%;
        padding: 160px 0 120px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        @media (max-width: $lg) {
            padding: 140px 0;
            justify-content: center;
        }
    }
    &__title {
        margin: 0 12.5% 0 0;
        font-size: 100px;
        line-height: .9;
        text-transform: uppercase;
        @media (max-width: $lg) {
            margin-right: 0;
            font-size: var(--fs-1);
        }
    }
}