.product-technical {
    background: $color-accent-8;
    padding: 100px 0 80px;
    color: $color-white-1;
    &__container {
    }
    &__title {
        margin: 0 0 70px;
        font-weight: normal;
        font-size: var(--fs-2);
        text-align: center;
        text-transform: uppercase;
    }
    &__table {
        width: 75%;
        margin: 0 auto;
    }
}