.product-advantage-card {
    display: flex;
    align-items: center;
    font-size: var(--fs-6);
    @media (max-width: $lg) {
        font-size: 22px;
    }
    @media (max-width: $sm) {
        flex-wrap: wrap;
    }
    &__media {
        max-width: 148px;
        margin-right: 50px;
        flex: 0 0 148px;
        @media (max-width: 1800px) {
            max-width: 120px;
            margin-right: 30px;
            flex-basis: 120px;
        }
        @media (max-width: $lg) {
            max-width: 148px;
            margin-right: 50px;
            flex: 0 0 148px;
        }
        @media (max-width: $sm) {
            margin: 0 auto 15px;
        }
    }
    &__img {
        padding-bottom: 100%;
        border-radius: 50%;
        user-select: none;
        overflow: hidden;
        @extend .img-cover;
    }
    &__content {
        flex-grow: 1;
        @media (max-width: $sm) {
            max-width: 100%;
            flex: 0 0 100%;
            text-align: center;
        }
    }
    &__title {
        margin: 0 0 10px;
        font-weight: 600;
        font-size: var(--fs-6);
        line-height: 1.2;
        letter-spacing: .16em;
        @media (max-width: 1800px) {
            font-size: 19px;
        }
        @media (max-width: $lg) {
            font-size: 22px;
        }
    }
    &__text {
        margin: 0;
        font-weight: 300;
        font-size: var(--fs-6);
        @media (max-width: 1800px) {
            font-size: 19px;
        }
        @media (max-width: $lg) {
            font-size: 22px;
        }
    }
}

.product-advantage {
    padding: 120px 0 110px;
    @media (max-width: $lg) {
        padding: 40px 0 80px;
    }
    &__container {
    }
    &__inner {
        display: flex;
        @media (max-width: $lg) {
            flex-wrap: wrap;
        }
    }
    &__media {
        margin-right: 7%;
        padding-right: 30px;
        flex-grow: 1;
        @media (max-width: 1800px) {
            margin-right: 0;
        }
        @media (max-width: $lg) {
            max-width: 100%;
            margin: 0 0 70px;
            padding-right: 0;
            flex: 0 0 100%;
        }
        &-list {
            margin: 0 -15px;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            @media (max-width: $sm) {
                margin: 0 -6px;
            }
            &-col {
                margin-bottom: 30px;
                padding: 0 15px;
                flex-shrink: 0;
                flex-grow: 0;
                transition: all .4s;
                transition-property: opacity, visibility;
                @media (max-width: $sm) {
                    margin-bottom: 12px;
                    padding: 0 6px;
                }
                &--1 {
                    max-width: 52%;
                    flex-basis: 52%;
                    align-self: flex-end;
                    transition-delay: .2s;
                }
                &--2 {
                    max-width: 45.6%;
                    flex-basis: 45.6%;
                    align-self: flex-end;
                    transition-delay: .6s;
                }
                &--3 {
                    max-width: 51%;
                    margin-left: -2%;
                    flex-basis: 51%;
                    align-self: flex-start;
                    transition-delay: .8s;
                }
                &--4 {
                    max-width: 51%;
                    flex-basis: 51%;
                    align-self: flex-start;
                    transition-delay: .4s;
                }
            }
        }
    }
    &:not(.is-view) &__media-list-col {
        @media (min-width: $lg-mf) {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__img {
        user-select: none;
        border-radius: 10px;
        overflow: hidden;
        @extend .img-cover;
    }
    &__media-list-col--1 &__img {
        padding-bottom: 144.534412955%;
    }
    &__media-list-col--2 &__img {
        padding-bottom: 141.395348837%;
    }
    &__media-list-col--3 &__img {
        padding-bottom: 95.219123506%;
    }
    &__media-list-col--4 &__img {
        padding-bottom: 124.081632653%;
    }
    &__aside {
        max-width: 37.5%;
        padding: 0 50px 0 30px;
        flex: 0 0 37.5%;
        @media (max-width: 1800px) {
            max-width: 43%;
            padding-right: 0;
            flex-basis: 43%;
        }
        @media (max-width: $lg) {
            max-width: 100%;
            padding: 0;
            flex-basis: 100%;
        }
        &-title {
            max-width: 360px;
            margin: -25px 0 60px;
            font-weight: 300;
            font-size: var(--fs-10);
            line-height: 1.389;
            @media (max-width: 1800px) {
                margin-bottom: 40px;
            }
            @media (max-width: $sm) {
                max-width: 320px;
                margin: 0 auto 45px;
                font-size: 30px;
                text-align: center;
            }
        }
        &-list {
            @media (max-width: $sm) {
                max-width: 420px;
                margin: 0 auto;
            }
            &-card {
                &:not(:last-child) {
                    margin-bottom: 50px;
                    @media (max-width: 1600px) {
                        margin-bottom: 30px;
                    }
                    @media (max-width: 1400px) {
                        margin-bottom: 20px;
                    }
                    @media (max-width: $lg) {
                        margin-bottom: 45px;
                    }
                }
            }
        }
    }
    &__footer {
        max-width: 640px;
        margin: 70px auto 0;
        text-align: center;
        &-suptitle {
            margin: 0 0 10px;
            font-weight: 300;
            font-size: var(--fs-10);
            text-transform: uppercase;
            letter-spacing: .2em;
            @media (max-width: $lg) {
                font-size: 28px;
            }
        }
        &-title {
            font-weight: normal;
            font-size: var(--fs-13);
            line-height: 1.35;
            @media (max-width: $lg) {
                max-width: 420px;
                margin: 0 auto;
                font-size: 40px;
                line-height: 1.25;
            }
        }
    }
}