.product-appeal {
    padding-bottom: 50.625%;
    position: relative;
    z-index: 0;
    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @extend .img-cover;
    }
    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: $md) {
            flex-wrap: wrap;
        }
    }
    &__col {
        max-width: 50%;
        padding: 0 20px;
        flex: 0 0 50%;
        @media (max-width: $md) {
            max-width: 100%;
            flex-basis: 100%;
        }
        &:first-child {
            @media (max-width: $md) {
                margin-top: 10px;
                margin-bottom: auto;
            }
        }
        &:last-child {
            @media (max-width: $md) {
                margin-top: auto;
                margin-bottom: 10px;
                order: -1;
            }
        }
    }
    &__title {
        max-width: 560px;
        margin: 0 auto;
        font-weight: 300;
        font-size: var(--fs-9);
        line-height: 1.443;
        color: $color-gray-1;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: $md) {
            max-width: 280px;
            font-size: 36px;
            line-height: 1.2;
        }
    }
}