.reviews-slider {
    overflow: hidden;
    &__slide {
        padding: 0 10px;
        @media (max-width: $lg) {
            padding: 0 calc(var(--gap) / 2);
        }
        @media (max-width: $sm) {
            width: 69vw;
        }
        @media (max-width: 414px) {
            width: 80vw;
        }
        &-inner {
            height: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: var(--fs-6);
            border: 1px solid $color-accent-6;
            border-radius: 10px;
        }
        &-rating {
            margin: 0 auto 30px 0;
            display: inline-flex;
        }
        &-content {
            max-width: 100%;
            margin: 0 0 12px;
            font-weight: 300;
            font-size: var(--fs-6);
            line-height: 1.409;
        }
        &-name {
            max-width: 100%;
            margin-top: auto;
        }
    }
}

.reviews-section {
    background: $color-white-1;
    padding: 110px 0 50px;
    @media (max-width: $lg) {
        padding: 70px 0 35px;
    }
    &__container {
    }
    &__title {
        margin: 0 0 25px;
        font-weight: normal;
        font-size: var(--fs-2);
        text-align: center;
        text-transform: uppercase;
        @media (max-width: $lg) {
            margin: 0 0 30px;
            font-size: 40px;
            text-align: left;
        }
        @media (max-width: $md) {
            font-size: 35px;
        }
    }
    &__description {
        max-width: 990px;
        margin: 0 auto 165px;
        font-weight: 300;
        font-size: var(--fs-5);
        line-height: 1.577;
        text-align: center;
        @media (max-width: $lg) {
            max-width: 100%;
            margin: 0 0 30px;
            font-size: 23px;
            text-align: left;
        }
    }
    &__slider-control {
        width: 240px;
        height: 50px;
        margin: 0 0 0 -120px;
        position: absolute;
        top: -100px;
        left: 50%;
        @media (max-width: $lg) {
            width: 120px;
            margin: 0 0 30px;
            position: relative;
            top: 0;
            left: 0;
        }
        .btn-slider--prev {
            @media (max-width: $lg) {
                margin-left: 0;
            }
        }
        .btn-slider--next {
            @media (max-width: $lg) {
                margin-right: 0;
            }
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: $lg) {
            flex-wrap: wrap;
            align-items: initial;
        }
        &-aside {
            max-width: 18%;
            margin-right: 40px;
            flex: 0 0 18%;
            @media (max-width: $lg) {
                width: 100%;
                max-width: 100%;
                margin: 0 0 30px;
                flex: initial;
            }
            &-text {
                font-weight: 300;
                font-size: var(--fs-4);
                line-height: 1.367;
                text-transform: uppercase;
                @media (max-width: $lg) {
                    max-width: 240px;
                }
                strong {
                    display: block;
                    font-weight: 500;
                    @media (max-width: $lg) {
                        display: initial;
                    }
                }
                a {
                    @extend .link-shadow;
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &-slider {
            margin: 0 -10px;
            padding-right: 2px;
            flex-grow: 1;
            overflow: hidden;
            @media (max-width: $lg) {
                margin: 0 calc(-1 * var(--gap));
                padding: 0 var(--gap);
            }
            .slick-list {
                @media (max-width: $lg) {
                    margin: 0 calc(-1 * var(--gap));
                    padding: 0 calc(var(--gap) / 2);
                }
            }
            .slick-track {
                @media (min-width: $lg-mf) {
                    display: flex;
                }
            }
            .slick-slide {
                @media (min-width: $lg-mf) {
                    height: initial;
                }
            }
        }
    }
}