#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: clip;
}

svg,
.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    color: inherit;
    fill: currentColor;
}

.container {
    width: 100%;
    padding: 0 var(--gap);
}

.img-cover {
    display: block;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.text-overflow {
    max-width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.area-click {
    --indent: -5px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: var(--indent);
        right: var(--indent);
        bottom: var(--indent);
        left: var(--indent);
    }
}

.btn-reset {
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 0;
    outline: none;
    border: none;
    border-radius: 0;
}

.btn {
    background: transparent;
    min-height: 64px;
    margin: 0;
    padding: 14px 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-5);
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .04em;
    border: none;
    border-radius: 35px;
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: all .34s;
    @media (max-width: $lg) {
        min-height: 60px;
    }
    &:hover {
        text-decoration: none;
    }
    &--theme {
        &-white {
            background: $color-white-1;
            color: $color-accent-1;
            &:hover {
                @media (min-width: $lg-mf) {
                    background: $color-accent-1;
                    color: $color-white-1;
                }
            }
        }
        &-accent {
            background: $color-accent-2;
            color: $color-white-1;
            &:hover {
                @media (min-width: $lg-mf) {
                    background: $color-accent-7;
                }
            }
        }
    }
}

.video-play-btn {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    color: $color-white-1;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all .4s;
    &:hover {
        text-decoration: none;
    }
    &__title {
        font-weight: 300;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: .2em;
        @media (max-width: $md) {
            font-size: 24px;
        }
        @media (max-width: 480px) {
            font-size: 20px;
        }
    }
    &__icon-wrap {
        width: 142px;
        height: 142px;
        margin: 0 25px;
        display: block;
        position: relative;
        @media (max-width: $md) {
            width: 110px;
            height: 110px;
        }
        @media (max-width: 480px) {
            width: 98px;
            height: 98px;
            margin-right: 12px;
            margin-left: 12px;
        }
    }
    &__icon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
        transition-property: opacity, visibility;
    }
    &:hover &__icon:nth-child(1),
    &:not(:hover) &__icon:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }
    &:hover &__icon:nth-child(1) {
        @media (max-width: $lg) {
            opacity: 1;
            visibility: visible;
        }
    }
    &:hover &__icon:nth-child(2) {
        @media (max-width: $lg) {
            opacity: 0 !important;
            visibility: hidden !important;
        }
    }
}

.nav-good {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style-type: none;
    box-shadow: inset 0 0 0 .1rem currentColor;
    border-radius: 4rem;
    @media (max-width: $lg) {
        border-radius: 40px;
        box-shadow: inset 0 0 0 1px currentColor;
    }
    &__item {
        margin: 0;
        padding: 0;
        flex-grow: 1;
    }
    &__link {
        display: block;
        line-height: 1;
        text-transform: uppercase;
        border-radius: 3rem;
        user-select: none;
        white-space: nowrap;
        transition: all .4s;
        @media (max-width: $lg) {
            border-radius: 30px;
        }
        &.is-active {
            background: $color-white-1;
            font-weight: 500;
            color: $color-accent-4;
            pointer-events: none;
            cursor: default;
        }
        &:hover {
            text-decoration: none;
            @media (min-width: $lg-mf) {
                opacity: .6;
            }
        }
    }
    &--theme-white &__link {
        color: $color-white-1;
        &.is-active {
            background: $color-white-1;
            color: $color-accent-4;
        }
    }
    &--theme-accent &__link {
        color: $color-accent-2;
        &.is-active {
            background: $color-accent-2;
            color: $color-white-1;
        }
    }
    &--size-sm &__link {
        padding: 1.5rem;
        font-size: 1.6rem;
        @media (max-width: $lg) {
            padding: 15px;
            font-size: 16px;
        }
    }
    &--size-md &__link {
        padding: 1.9rem;
        font-size: 2.2rem;
        @media (max-width: $lg) {
            padding: 19px;
            font-size: 22px;
        }
        @media (max-width: $xs) {
            padding: 15px;
            font-size: 16px;
        }
    }
}

.content {
    font-size: var(--fs-5);
    line-height: 1.385;
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
    p {
        margin: 0 0 1.5em;
    }
}

.rating-card {
    background: url(../images/sprite/star.svg) 0 0 repeat-x;
    background-size: auto 100%;
    height: 25px;
    display: block;
    &--1 {
        width: 28px;
    }
    &--2 {
        width: 56px;
    }
    &--3 {
        width: 84px;
    }
    &--4 {
        width: 112px;
    }
    &--5 {
        width: 140px;
    }
}

.subscribe-form {
    display: block;
    position: relative;
    &__input {
        background: $color-white-1;
        width: 100%;
        padding: 30px 80px 30px 30px;
        font-size: var(--fs-7);
        line-height: 1.4;
        display: block;
        border: none;
        border-radius: 30px;
        outline: none;
        transition: all .4s;
        &:hover,
        &:focus {
            box-shadow: 0 0 0 2px $color-accent-4;
        }
        &::placeholder {
            color: $color-accent-2;
            transition: all .34s;
            transition-property: color;
        }
        &:focus::placeholder {
            color: transparent;
        }
    }
    &__btn {
        background: transparent;
        height: 100%;
        padding: 0 32px;
        display: flex;
        align-items: center;
        font-size: 0;
        color: $color-accent-2;
        border: none;
        border-radius: 0;
        outline: none;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: all .4s;
        &-icon {
            width: 24px;
            height: 24px;
            display: block;
            flex: 0 0 24px;
            transition: all .24s;
            transition-property: transform;
        }
        &:hover &-icon {
            @media (min-width: $lg-mf) {
                transform: translateX(10px);
            }
        }
    }
}

.subscribe-block {
    &__title {
        margin: 0 0 5px;
        font-weight: 500;
        font-size: var(--fs-2);
        @media (max-width: $sm) {
            font-size: 35px;
            text-align: center;
        }
    }
    &__subtitle {
        margin: 0 0 25px;
        font-size: var(--fs-7);
        @media (max-width: $sm) {
            font-size: 20px;
            text-align: center;
        }
    }
    &__form {
    }
}

.sc-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    &__item {
        margin: 10px;
        padding: 0;
    }
    &__link {
        width: 46px;
        height: 46px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        transition: all .4s;
        transition-property: color;
        &:hover {
            text-decoration: none;
            @media (min-width: $lg-mf) {
                color: $color-accent-1;
                color: $color-accent-4;
            }
        }
    }
    &__icon {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
    }
}

.link-shadow {
    box-shadow: inset 0 -1px 0 currentColor;
    transition: all .4s;
    transition-property: box-shadow;
    &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
            box-shadow: inset 0 -1px 0 transparent;
        }
    }
}

.link-hover-shadow {
    box-shadow: inset 0 -1px 0 transparent;
    transition: all .4s;
    transition-property: box-shadow;
    &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
            box-shadow: inset 0 -1px 0 currentColor;
        }
    }
}

.table-info {
    font-weight: 200;
    font-size: 3.4rem;
    color: $color-gray-1;
    border-collapse: collapse;
    @media (max-width: $lg) {
        font-size: 28px;
    }
    tr {
        @media (max-width: $lg) {
            padding: 13px 0;
            display: block;
        }
        &:not(:last-child) {
            @media (max-width: $lg) {
                border-bottom: 1px solid rgba($color-white-1, .48);
            }
        }
    }
    td {
        padding: 3rem;
        vertical-align: top;
        @media (max-width: $lg) {
            padding: 4px 0;
            display: block;
        }
        &:first-child {
            @media (min-width: $lg-mf) {
                padding-left: 9rem;
            }
        }
        &:last-child {
            @media (min-width: $lg-mf) {
                padding-right: 9rem;
            }
        }
    }
    tr:not(:last-child) td {
        @media (min-width: $lg-mf) {
            border-bottom: 1px solid rgba($color-white-1, .48);
        }
    }
}

.video-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    overflow: hidden;
    z-index: 0;
    &__el {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 0;
    }
}