.slick-slide {
    outline: none !important;
}

.btn-slider {
    background: transparent;
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 0;
    text-align: center;
    border-radius: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: all .4s;
    z-index: 1;
    &:hover {
        text-decoration: none;
    }
    &--theme-accent {
        color: $color-accent-2;
    }
    &--theme-accent-light {
        color: $color-accent-6;
    }
    &:before {
        content: '';
        position: absolute;
        top: -26px;
        right: -26px;
        bottom: -26px;
        left: -26px;
    }
    &--prev {
        margin-left: 40px;
        left: 0;
    }
    &--next {
        margin-right: 40px;
        right: 0;
    }
    &--size-lg {
        width: 90px;
        height: 90px;
        margin-top: -45px;
        @media (max-width: $md) {
            width: 40px;
            height: 40px;
            margin-top: -20px;
        }
    }
    &--size-md {
        width: 50px;
        height: 50px;
        margin-top: -25px;
    }
    &__icon-wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .34s;
        transition-property: transform;
    }
    &--prev &__icon-wrap  {
        margin-right: auto;
    }
    &--prev:hover &__icon-wrap {
        @media (min-width: $lg-mf) {
            transform: translateX(-14px);
        }
    }
    &--next &__icon-wrap  {
        margin-left: auto;
    }
    &--next:hover &__icon-wrap {
        @media (min-width: $lg-mf) {
            transform: translateX(14px);
        }
    }
    &__icon {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.slick-dots {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    li {
        width: 10px;
        height: 10px;
        margin: 5px;
        padding: 0;
        position: relative;
        button {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid $color-accent-2;
            border-radius: 50%;
            transition: all .4s;
            transition-property: background;
            @extend .area-click, .btn-reset;
        }
        &.slick-active button {
            background: $color-accent-2;
        }
    }
}