.btn-slider {
    background: transparent;
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 0;
    color: $color-accent-2;
    text-align: center;
    border-radius: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: all .4s;
    z-index: 1;
    &:hover {
        text-decoration: none;
    }
    &:before {
        content: '';
        position: absolute;
        top: -26px;
        right: -26px;
        bottom: -26px;
        left: -26px;
    }
    &--prev {
        margin-left: 40px;
        left: 0;
    }
    &--next {
        margin-right: 40px;
        right: 0;
    }
    &--size-lg {
        width: 90px;
        height: 90px;
        margin-top: -45px;
    }
    &--size-md {
        width: 50px;
        height: 50px;
        margin-top: -25px;
    }
    &__icon-wrap {
        width: 100%;
        height: 100%;
        display: block;
        transition: all .34s;
        transition-property: transform;
    }
    &--prev &__icon-wrap  {
        margin-right: auto;
    }
    &--prev:hover &__icon-wrap {
        transform: translateX(-14px);
    }
    &--next &__icon-wrap  {
        margin-left: auto;
    }
    &--next:hover &__icon-wrap {
        transform: translateX(14px);
    }
    &__icon {
        width: 100%;
        height: 100%;
        display: block;
    }
}