@media (min-width: $xs-mf) {
    .d-xs-none {
        display: none !important;
    }
    .d-xs-block {
        display: block !important;
    }
}

@media (min-width: $sm-mf) {
    .d-sm-none {
        display: none !important;
    }
    .d-sm-block {
        display: block !important;
    }
}

@media (min-width: $md-mf) {
    .d-md-none {
        display: none !important;
    }
    .d-md-block {
        display: block !important;
    }
}

@media (min-width: $lg-mf) {
    .d-lg-none {
        display: none !important;
    }
    .d-lg-block {
        display: block !important;
    }
}