// typography
$ff-default: 'Outfit', Arial, sans-serif;

// pallets
$color-black-1: #000;
$color-white-1: #fff;
$color-gray-1: #fefeff;
$color-accent-1: #041d49;
$color-accent-2: #05245a;
$color-accent-3: #040724;
$color-accent-4: #42a5f1;
$color-accent-5: #5fc2fe;
$color-accent-6: #0983bb;
$color-accent-7: #16489f;
$color-accent-8: #126bdc;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs;