:root {
    --fs-default: 14px;
    --fs-1: 88px;
    --fs-2: 50px;
    --fs-3: 40px;
    --fs-4: 30px;
    --fs-5: 26px;
    --fs-6: 22px;
    --fs-7: 20px;
    --fs-8: 24px;
    --fs-9: 70px;
    --fs-10: 36px;
    --fs-11: 21px;
    --fs-12: 34px;
    --fs-13: 60px;
    --fs-14: 16px;

    --gap: 44px;
}