include includes/head.pug

body

  #root
    include includes/header.pug

    main(role="main").main
      picture.main__bg
        img(src="images/main-img-4.jpg", alt="Origin story")
      .container.main__contaier
        .main__content
          h1.title-size-1.main__title Origin story

    .about-layout
      .container.about-layout__container
        .about-layout__list
          .about-card.about-layout__list-card
            .about-card__media
              picture.about-card__img
                img(src="images/about-card-img-1.jpg", alt="When RW’s founders")
            .about-card__main
              .content.about-card__content
                p When RW’s founders, Chris and Rose Roy, were faced with the greatest, most complex health challenge of their lives after being exposed to toxic mold, they got very familiar with their own inner warriors.
                p They knew they’d do whatever was required to fight back from their injuries because in their minds, there was no other option. Living in Maui at the time, they had always admired the locals that row in the Hawaiian waters. (And the rowers' fit physique was easy to admire too!)
          .about-card.about-layout__list-card
            .about-card__media
              picture.about-card__img
                img(src="images/about-card-img-2.jpg", alt="When RW’s founders")
            .about-card__main
              .content.about-card__content
                p Chris and Rose began their rehabilitation journey the only way they knew how: by jumping in feet first. They hopped in the water and began paddling each day, marveling at how quickly it helped them shift into a new vitality.
                p They quickly realized that having access to the water every day (and night) might not be always possible, so they began searching for alternative ways to row. They starting rowing in Cross Fit, and they continued to be amazed at its healing effects. That rowing motion woke something up in their spirits, and their healing journey was immediately accelerated.
          .about-card.about-layout__list-card
            .about-card__media
              picture.about-card__img
                img(src="images/about-card-img-3.jpg", alt="When RW’s founders")
            .about-card__main
              .content.about-card__content
                p Row Warrior was born not long after they moved to Austin, Texas, the hub of modern creative ingenuity and fitness. Chris and Rose understand firsthand that exceptional warriors need exceptional tools if they are going to conquer the obstacles set before them, and after the hours they’d logged on rowing machines, they knew exactly how to create that exceptional tool.
                p They got to work designing every facet of this durable, sleek and powerful machine so that it would fit the needs of everyone from the novice rower to the most experienced, and from the slightest of physiques to the bulkiest, because warriors come in all forms.
          .about-card.about-layout__list-card
            .about-card__media
              picture.about-card__img
                img(src="images/about-card-img-4.jpg", alt="When RW’s founders")
            .about-card__main
              .content.about-card__content
                p Knowing that it had to function at its peak in any environment, both at home and on the go, they innovated RW to have a small footprint and lightweight form. Easy to move, store, and use, this is the ultimate in&nbsp;at-home fitness.
                p Plus, they’ve gone a step further by creating workout routines that integrate kettle bells, yoga and more into a well-rounded exercise routine that leaves you feeling renewed, revitalized, energized and ready to take on all of life’s battles.
                p Chris and Rose envision Row Warrior not just as a tool of transformation, but as a community of tough, gritty, do-what-it-takes individuals who refuse to back down from a challenge. And they’re inviting you to begin your own Row Warrior journey today!

    include includes/footer.pug

  include includes/foot.pug