include includes/head.pug

body

  #root
    include includes/header.pug

    main(role="main").main
      picture.main__bg
        img(src="/images/main-img-1.jpg", alt="Train like a warrior")
      .video-cover.main__video
        video(autoplay, loop, playsinline, muted).video-cover__el
          source(src="/media/video-main-1.webm", type="video/webm")
          source(src="/media/video-main-1.mp4", type="video/mp4")
      .container.main__contaier
        .main__content
          h1.title-size-1.main__title Train like&nbsp;a warrior
          a(href="#").btn.btn--theme-white.main__btn Let’s row
        .main__benefits
          p.main__benefits-item Build strength
          p.main__benefits-item Improve cardio
          p.main__benefits-item Low-impact
          p.main__benefits-item Full body exercise

    section.info
      .js-scene-info-word.container.info__contaier
        .js-info-word.info__word
          .info__word-card Meet
          .info__word-card Row
          .info__word-card Warrior
        h2.info__title Your Home Gym Secret Weapon for Transforming Your Strength,&nbsp;Health, Body and Life.

    .js-good-section-slider.good-section-list
      section.good-section.good-section-list__item
        .good-section__inner
          .good-section__media
            picture.good-section__picture
              img(src="/images/good-img-1.png", alt="Get a solid, low-impact, full-body workout at home")
          .good-section__content
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-section__nav
              li.nav-good__item
                a(href="#").nav-good__link.is-active Versatility
              li.nav-good__item
                a(href="#").nav-good__link Simple assembly
              li.nav-good__item
                a(href="#").nav-good__link Compact design
              li.nav-good__item
                a(href="#").nav-good__link Ease of use
            .good-section__suptitle Versatility
            h2.good-section__title Get a solid, low-impact, full-body workout at home
            .content.good-section__text
              p Like a Swiss army knife, Row Warrior is a tool that provides a wide array of benefits. Use it to build muscle, gain strength, improve cardio, increase stamina, or simply improve your overall well-being without ever walking out your door.
      section.good-section.good-section-list__item
        .good-section__inner
          .good-section__media
            picture.good-section__picture
              img(src="/images/good-img-2.png", alt="Unbox, unwrap, assemble, and row")
            .video-cover.good-section__video
              video(autoplay, loop, playsinline, muted).video-cover__el
                source(src="/media/video-good-1.webm", type="video/webm")
                source(src="/media/video-good-1.mp4", type="video/mp4")
          .good-section__content
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Versatility
              li.nav-good__item
                a(href="#").nav-good__link.is-active Simple assembly
              li.nav-good__item
                a(href="#").nav-good__link Compact design
              li.nav-good__item
                a(href="#").nav-good__link Ease of use
            .good-section__suptitle Simple assembly
            h2.good-section__title Unbox, unwrap,<br>assemble, and row
            .content.good-section__text
              p When Row Warrior arrives at your door, you’ll be ready to row in 30 minutes or less. Our no-fuss design requires little assembly and comes with simple, easy-to-follow instructions so you can hop and get rowing with ease.
      section.good-section.good-section-list__item
        .good-section__inner
          .good-section__media
            picture.good-section__picture
              img(src="/images/good-img-3.png", alt="No space? No problem")
          .good-section__content
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Versatility
              li.nav-good__item
                a(href="#").nav-good__link Simple assembly
              li.nav-good__item
                a(href="#").nav-good__link.is-active Compact design
              li.nav-good__item
                a(href="#").nav-good__link Ease of use
            .good-section__suptitle Compact design
            h2.good-section__title No space?<br>No problem
            .content.good-section__text
              p Featuring a sleek, simple, compact design, Row Warrior can easily be folded, separated, and stored away. Whether you’re a workout warrior in a small living space, or you want a little extra room in your home gym, this rower is for you.
      section.good-section.good-section-list__item
        .good-section__inner
          .good-section__media
            picture.good-section__picture
              img(src="/images/good-img-4.png", alt="Perfect for beginners & experienced warriors alike")
          .good-section__content
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Versatility
              li.nav-good__item
                a(href="#").nav-good__link Simple assembly
              li.nav-good__item
                a(href="#").nav-good__link Compact design
              li.nav-good__item
                a(href="#").nav-good__link.is-active Ease of use
            .good-section__suptitle Ease of use
            h2.good-section__title Perfect for beginners &&nbsp;experienced warriors alike
            .content.good-section__text
              p Whether you’ve been rowing for decades or are just starting out, Row Warrior offers easily customizable resistance levels so you can find the right challenge for you - wherever you are on your fitness journey.

    .video-section
      picture.video-section__bg
        img(src="/images/video-bg-1.jpg", alt="Play video")
      .container.video-section__container
        button(type="button").js-modal-video-init.video-play-btn.video-section__btn
          span.video-play-btn__title Play
          span.video-play-btn__icon-wrap
            svg.icon.video-play-btn__icon
              use(xlink:href="/images/sprite.svg#video-play-btn-outline")
            svg.icon.video-play-btn__icon
              use(xlink:href="/images/sprite.svg#video-play-btn-fill")
          span.video-play-btn__title Video

    .good-info-section-list
      section.good-info-section.good-info-section-list__item
        .container.good-info-section__container
          .good-info-section__inner
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-info-section__nav
              li.nav-good__item
                a(href="#").nav-good__link.is-active Simple
              li.nav-good__item
                a(href="#").nav-good__link Smart
              li.nav-good__item
                a(href="#").nav-good__link Solid
            h2.good-info-section__title Get a solid workout without the fuss
            .content.good-info-section__text
              p The ultimate full body workout, Row Warrior delivers tangible results in minimal time, without complicated routines or loads of equipment. A simple 15 to 20 minute rowing session done 2 to 3 times a week will help you build strength, boost cardio, increase endurance, and torch fat.
        .good-info-section__media
          picture.good-info-section__picture
            img(src="/images/good-info-img-1.jpg", alt="Get a solid workout without the fuss")
      section.good-info-section.good-info-section-list__item
        .container.good-info-section__container
          .good-info-section__inner
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-info-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Simple
              li.nav-good__item
                a(href="#").nav-good__link.is-active Smart
              li.nav-good__item
                a(href="#").nav-good__link Solid
            h2.good-info-section__title Track your stats &&nbsp;watch your&nbsp;gains
            .content.good-info-section__text
              p When it comes to staying motivated, there’s nothing more powerful than seeing your progress. With its built-in Bluetooth LED monitor, Row Warrior will help you track time, distance, row count, calories burned, heart rate, and more.
        .good-info-section__media
          picture.good-info-section__picture
            img(src="/images/good-info-img-2.jpg", alt="Track your stats & watch your gains")
      section.good-info-section.good-info-section-list__item
        .container.good-info-section__container
          .good-info-section__inner
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-info-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Simple
              li.nav-good__item
                a(href="#").nav-good__link Smart
              li.nav-good__item
                a(href="#").nav-good__link.is-active Solid
            h2.good-info-section__title Battle-tested &&nbsp;built to&nbsp;last
            .content.good-info-section__text
              p Made with an industrial-grade steel frame that can handle weights of up to 550 pounds, Row Warrior sturdy design features wear-resistant surfaces that can withstand heavy use so it will look sleek and clean for years to come.
        .good-info-section__media
          picture.good-info-section__picture
            img(src="/images/good-info-img-3.jpg", alt="Battle-tested & built to last")

    section.appeal-section.section-four
      picture.appeal-section__img.appeal-section__img--1
        img(src="/images/appeal-img-1.png", alt="Build full body strength")
      picture.appeal-section__img.appeal-section__img--2
        img(src="/images/appeal-img-2.png", alt="Train like a warrior")
      .appeal-section__container
        h2.appeal-section__title.appeal-section__title--size-1 Build full body strength
        h2.appeal-section__title.appeal-section__title--size-2 Increase cardio & endurance
        h2.appeal-section__title.appeal-section__title--size-1.circle Train like a warrior

    .gallery-slider
      .js-gallery-slider-init.gallery-slider__block.is-active
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="/images/video-slider-1.jpg", alt="Gallery photo 1")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="/images/video-slider-2.jpg", alt="Gallery photo 2")
      .js-gallery-slider-init.gallery-slider__block
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="/images/video-slider-3.jpg", alt="Gallery photo 3")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="/images/video-slider-4.jpg", alt="Gallery photo 4")
      ul.gallery-slider__nav
        li.js-gallery-tab-click.gallery-slider__nav-item.gallery-slider__nav-item--black.is-active
        li.js-gallery-tab-click.gallery-slider__nav-item.gallery-slider__nav-item--white

    section.reviews-section
      .container.reviews-section__container
        h2.reviews-section__title Testimonials
        .content.reviews-section__description
          p A challenging yet low-impact, strength-building experience that beginning and seasoned rowers love, this is the stress-relieving, confidence-building workout you’ll look forward to everyday.
        .reviews-section__inner
          .reviews-section__inner-aside
            .reviews-section__inner-aside-text What our <strong>warriors</strong> are saying on<br>
              a(href="#") Amazon.com
          .reviews-section__slider-control
          .reviews-section__inner-slider
            .js-reviews-slider-init.reviews-slider
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p I love this rowing machine! I was surprised how quickly it was delivered after I ordered it. Really a high quality piece of equipment. I feel like I should open a gym in my house now. It's that good!"
                  .reviews-slider__slide-name –Stacy
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p I love this rowing machine! I was surprised how quickly it was delivered after I ordered it. Really a high quality piece of equipment. I feel like I should open a gym in my house now. It's that good!"
                  .reviews-slider__slide-name –Stacy
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p I love this rowing machine! I was surprised how quickly it was delivered after I ordered it. Really a high quality piece of equipment. I feel like I should open a gym in my house now. It's that good!"
                  .reviews-slider__slide-name –Stacy
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p I love this rowing machine! I was surprised how quickly it was delivered after I ordered it. Really a high quality piece of equipment. I feel like I should open a gym in my house now. It's that good!"
                  .reviews-slider__slide-name –Stacy

    section.good-appeal
      .container.good-appeal__container
        .good-appeal__inner
          .good-appeal__media
            picture.good-appeal__picture
              img(src="/images/good-appeal-img-1.png", alt="Train like a warrior, transform your life - and do it all without leaving your door")
          .good-appeal__info
            .good-appeal__content
              ul.nav-good.nav-good--size-sm.nav-good--theme-accent.good-appeal__nav
                li.nav-good__item
                  a(href="#").nav-good__link Black
                li.nav-good__item
                  a(href="#").nav-good__link.is-active White
              .good-appeal__suptitle Are you ready?
              h2.good-appeal__title Train like a warrior, transform your life - and do it all without leaving your door
              a(href="#").btn.btn--theme-accent.good-appeal__btn Let’s row

    .modal-video
      button(type="button").js-modal-video-close.modal-close.modal-video__close
        svg.icon.modal-close__icon
          use(xlink:href="/images/sprite.svg#close")
      .modal-video__inner
        .modal-video__media
          iframe(width="560", height="315", src="https://www.youtube.com/embed/o5w1SxbMfzc", title="YouTube video player", frameborder="0", allowfullscreen)

    include includes/footer.pug

include includes/foot.pug