include includes/head.pug

body

  #root
    include includes/header.pug

    main(role="main").main
      picture.main__bg
        img(src="images/main-img-1.jpg", alt="Train like a warrior")
      .video-cover.main__video
        video(autoplay, loop, playsinline, muted).video-cover__el
          source(src="media/video-main-1.webm", type="video/webm")
          source(src="media/video-main-1.mp4", type="video/mp4")
      .container.main__contaier
        .main__content
          h1.title-size-1.main__title Train like&nbsp;a warrior
          a(href="https://amzn.com/dp/B08B3GJHL6", target="_blank").btn.btn--theme-white.main__btn Let’s row
        .js-main-benefits.main__benefits
          p.main__benefits-item Build strength
          p.main__benefits-item Improve cardio
          p.main__benefits-item Low-impact
          p.main__benefits-item Full body exercise

    section.info
      .container.info__contaier
        .js-info-word.info__word
          .info__word-card Meet
          .info__word-card Row
          .info__word-card Warrior
        h2.js-info-text.info__title Your Home Gym Secret Weapon for Transforming Your Strength,&nbsp;Health, Body and Life.

    .good-section-list
      section.js-good-section-slider-init.good-section.good-section-list__item
        .good-section__inner
          .good-section__media
            picture.good-section__picture
              source(srcset="images/good-img-1-mobile.png", media="(max-width: 1200px)")
              img(src="images/good-img-1.png", alt="Get a solid, low-impact, full-body workout at home")
          .good-section__content
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-section__nav
              li.nav-good__item
                a(href="#").nav-good__link.is-active Versatility
              li.nav-good__item
                a(href="#").nav-good__link Simple assembly
              li.nav-good__item
                a(href="#").nav-good__link Compact design
              li.nav-good__item
                a(href="#").nav-good__link Ease of use
            .good-section__suptitle Versatility
            h2.good-section__title Get a solid, low-impact, full-body workout at home
            .content.good-section__text
              p Like a Swiss army knife, Row Warrior is a tool that provides a wide array of benefits. Use it to build muscle, gain strength, improve cardio, increase stamina, or simply improve your overall well-being without ever walking out your door.
      section.js-good-section-slider-init.good-section.good-section-list__item
        .good-section__inner
          .good-section__media
            .video-cover.good-section__video
              video(autoplay, loop, playsinline, muted).d-lg-none.video-cover__el
                source(src="media/video-good-1.webm", type="video/webm")
                source(src="media/video-good-1.mp4", type="video/mp4")
              video(autoplay, loop, playsinline, muted).d-lg-block.video-cover__el
                source(src="media/video-good-1-mobile.webm", type="video/webm")
                source(src="media/video-good-1-mobile.mp4", type="video/mp4")
          .good-section__content
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Versatility
              li.nav-good__item
                a(href="#").nav-good__link.is-active Simple assembly
              li.nav-good__item
                a(href="#").nav-good__link Compact design
              li.nav-good__item
                a(href="#").nav-good__link Ease of use
            .good-section__suptitle Simple assembly
            h2.good-section__title Unbox, unwrap,<br>assemble, and row
            .content.good-section__text
              p When Row Warrior arrives at your door, you’ll be ready to row in 30 minutes or less. Our no-fuss design requires little assembly and comes with simple, easy-to-follow instructions so you can hop and get rowing with ease.
      section.js-good-section-slider-init.good-section.good-section-list__item
        .good-section__inner
          .good-section__media
            picture.good-section__picture
              source(srcset="images/good-img-3-mobile.png", media="(max-width: 1200px)")
              img(src="images/good-img-3.png", alt="No space? No problem")
          .good-section__content
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Versatility
              li.nav-good__item
                a(href="#").nav-good__link Simple assembly
              li.nav-good__item
                a(href="#").nav-good__link.is-active Compact design
              li.nav-good__item
                a(href="#").nav-good__link Ease of use
            .good-section__suptitle Compact design
            h2.good-section__title No space?<br>No problem
            .content.good-section__text
              p Featuring a sleek, simple, compact design, Row Warrior can easily be folded, separated, and stored away. Whether you’re a workout warrior in a small living space, or you want a little extra room in your home gym, this rower is for you.
      section.js-good-section-slider-init.good-section.good-section-list__item
        .good-section__inner
          .good-section__media
            picture.good-section__picture
              source(srcset="images/good-img-4-mobile.png", media="(max-width: 1200px)")
              img(src="images/good-img-4.png", alt="Perfect for beginners & experienced warriors alike")
          .good-section__content
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Versatility
              li.nav-good__item
                a(href="#").nav-good__link Simple assembly
              li.nav-good__item
                a(href="#").nav-good__link Compact design
              li.nav-good__item
                a(href="#").nav-good__link.is-active Ease of use
            .good-section__suptitle Ease of use
            h2.good-section__title Perfect for beginners &&nbsp;experienced warriors alike
            .content.good-section__text
              p Whether you’ve been rowing for decades or are just starting out, Row Warrior offers easily customizable resistance levels so you can find the right challenge for you - wherever you are on your fitness journey.

    .video-section
      picture.video-section__bg
        img(src="images/video-bg-1.jpg", alt="Play video")
      .container.video-section__container
        button(type="button").js-modal-video-init.video-play-btn.video-section__btn
          span.video-play-btn__title Play
          span.video-play-btn__icon-wrap
            svg.icon.video-play-btn__icon
              use(xlink:href="images/sprite.svg#video-play-btn-outline")
            svg.icon.video-play-btn__icon
              use(xlink:href="images/sprite.svg#video-play-btn-fill")
          span.video-play-btn__title Video

    .good-info-section-list
      section.good-info-section.good-info-section-list__item
        .container.good-info-section__container
          .good-info-section__inner
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-info-section__nav
              li.nav-good__item
                a(href="#").nav-good__link.is-active Simple
              li.nav-good__item
                a(href="#").nav-good__link Smart
              li.nav-good__item
                a(href="#").nav-good__link Solid
            h2.good-info-section__title Get a solid workout without the fuss
            .content.good-info-section__text
              p The ultimate full body workout, Row Warrior delivers tangible results in minimal time, without complicated routines or loads of equipment. A simple 15 to 20 minute rowing session done 2 to 3 times a week will help you build strength, boost cardio, increase endurance, and torch fat.
        .good-info-section__media
          picture.good-info-section__picture
            source(srcset="images/good-info-img-1-mobile.png", media="(max-width: 1200px)")
            img(src="images/good-info-img-1.jpg", alt="Get a solid workout without the fuss")
      section.good-info-section.good-info-section-list__item
        .container.good-info-section__container
          .good-info-section__inner
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-info-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Simple
              li.nav-good__item
                a(href="#").nav-good__link.is-active Smart
              li.nav-good__item
                a(href="#").nav-good__link Solid
            h2.good-info-section__title Track your stats &&nbsp;watch your&nbsp;gains
            .content.good-info-section__text
              p When it comes to staying motivated, there’s nothing more powerful than seeing your progress. With its built-in Bluetooth LED monitor, Row Warrior will help you track time, distance, row count, calories burned, heart rate, and more.
        .good-info-section__media
          picture.good-info-section__picture
            source(srcset="images/good-info-img-2-mobile.png", media="(max-width: 1200px)")
            img(src="images/good-info-img-2.jpg", alt="Track your stats & watch your gains")
      section.good-info-section.good-info-section-list__item
        .container.good-info-section__container
          .good-info-section__inner
            ul.nav-good.nav-good--size-md.nav-good--theme-white.good-info-section__nav
              li.nav-good__item
                a(href="#").nav-good__link Simple
              li.nav-good__item
                a(href="#").nav-good__link Smart
              li.nav-good__item
                a(href="#").nav-good__link.is-active Solid
            h2.good-info-section__title Battle-tested &&nbsp;built to&nbsp;last
            .content.good-info-section__text
              p Made with an industrial-grade steel frame that can handle weights of up to 550 pounds, Row Warrior sturdy design features wear-resistant surfaces that can withstand heavy use so it will look sleek and clean for years to come.
        .good-info-section__media
          picture.good-info-section__picture
            source(srcset="images/good-info-img-3-mobile.png", media="(max-width: 1200px)")
            img(src="images/good-info-img-3.jpg", alt="Battle-tested & built to last")

    section.appeal-section
      picture.appeal-section__img.appeal-section__img--1
        img(src="images/appeal-img-1.png", alt="Build full body strength")
      picture.appeal-section__img.appeal-section__img--2
        img(src="images/appeal-img-2.png", alt="Train like a warrior")
      .appeal-section__container
        h2.js-appeal-title-1.appeal-section__title.appeal-section__title--size-1 Build full body strength
        h2.js-appeal-title-2.appeal-section__title.appeal-section__title--size-2 Increase cardio & endurance
        h2.js-appeal-title-3.appeal-section__title.appeal-section__title--size-1 Train like a warrior

    .gallery-slider
      .js-gallery-slider-init.gallery-slider__block.is-active
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-black-1.jpg", alt="Gallery photo black 1")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-black-2.jpg", alt="Gallery photo black 2")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-black-3.jpg", alt="Gallery photo black 3")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-black-4.jpg", alt="Gallery photo black 4")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-black-5.jpg", alt="Gallery photo black 5")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-black-6.jpg", alt="Gallery photo black 6")
      .js-gallery-slider-init.gallery-slider__block
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-white-1.jpg", alt="Gallery photo white 1")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-white-2.jpg", alt="Gallery photo white 2")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-white-3.jpg", alt="Gallery photo white 3")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-white-4.jpg", alt="Gallery photo white 4")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-white-5.jpg", alt="Gallery photo white 5")
        .gallery-slider__block-slide
          picture.gallery-slider__block-slide-media
            img(src="images/video-slider-white-6.jpg", alt="Gallery photo white 6")
      ul.gallery-slider__nav
        li.js-gallery-tab-click.gallery-slider__nav-item.gallery-slider__nav-item--black.is-active
        li.js-gallery-tab-click.gallery-slider__nav-item.gallery-slider__nav-item--white

    section.reviews-section
      .container.reviews-section__container
        h2.reviews-section__title Testimonials
        .content.reviews-section__description
          p A challenging yet low-impact, strength-building experience that beginning and seasoned rowers love, this is the stress-relieving, confidence-building workout you’ll look forward to everyday.
        .reviews-section__inner
          .reviews-section__inner-aside
            .reviews-section__inner-aside-text What our <strong>warriors</strong> are saying on<br>
              a(href="https://amzn.com/dp/B08B3GJHL6", target="_blank") Amazon.com
          .reviews-section__slider-control
          .reviews-section__inner-slider
            .js-reviews-slider-init.reviews-slider
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p Works great! I’ve been following rowing videos from YouTube to get correct form too. It’s almost identical to the Concept 2 that the instructor uses… let’s be honest, he probably got it for free from a sponsor. After 4 months I needed to get some chain oil because it was getting squeaky but that’s to be expected.
                  .reviews-slider__slide-name –Bethany
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p I purchased this rower after researching many different rowers at or below the same price. I noticed many "different" rowers with the same advertising images, language, and content. I was as much concerned about the durability of the company as I was about the durability of the machine. I went with the Row Warrior because of the positive reviews, the price, and the promised customer support. I'm so glad I did!
                  .reviews-slider__slide-name –Treeman
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p I think I was lucky to find this Row Warrior on Amazon. I do not have experience with other rowing machine to compare this unit to. I made my purchase based on the reviews I read on the internet. So far I am very please with this rower. I wish I had this unit years ago. If I have a reason to purchase another rower the Row Warrior will be my unit of choice.
                  .reviews-slider__slide-name –W. Bee
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p What can I say. I rowed in college (which is too many years ago to talk about) and the feel of this machine is very close to what I remember from rowing on the water. It has revitalized me and gotten me to regularly schedule time on it. I’ve lost inches already and regained stamina I thought I had lost. Assembly was quite straight forward which added to the instant gratification of hopping right on it as soon as it was ready. Very solid construction, it should last me many years.
                  .reviews-slider__slide-name –Daniel Henegan
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p I researched a bunch of rowers and honestly was hesitant purchasing something at this price since I couldn’t try it out and there weren’t many reviews however I am THRILLED with this rower. It is comparable to the one I used to use at the gym. It is extremely sturdy, seat glides nicely and the catch bar is great quality. Very very pleased with this purchase. If you’re hesitating, take this review as a sign to buy!
                  .reviews-slider__slide-name –Courtney
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p Easy to assemble. The resistance is like tension its deceiving but 5 is like rowing on a lake. 
                  .reviews-slider__slide-name –Donald Tow
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p I’ve done a lot of workouts at home, and this one is my favorite. You can get a great workout in, at home, in just 15 minutes. Super happy with the quality of the Row Warrior product. It is very smooth and has a great feel. It’s not a thin/light/cheap feeling - it definitely feels like club-quality when you’re on it. At 220 pounds, that was one of my concerns. Very happy with the quality for the price.
                    p Plus, results have been great. It’s a full-body workout and I love it!
                  .reviews-slider__slide-name –David
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p Love it! Researched every type of rower for 3 months before pulling the trigger. Chose the Row Warrior based on its positive reviews and price point. Glad I did...easy to assemble, and solid construction. Will not disappoint!
                    p Plus, results have been great. It’s a full-body workout and I love it!
                  .reviews-slider__slide-name –Patricia a Green
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p High quality, nicely design and extremely easy to put away
                  .reviews-slider__slide-name –Liz England
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p Agreed to my gym. Easy to set up. Rows well. Nice piece
                    p Plus, results have been great. It’s a full-body workout and I love it!
                  .reviews-slider__slide-name –Tracey C.
              .reviews-slider__slide
                .reviews-slider__slide-inner
                  .rating-card.rating-card--5.reviews-slider__slide-rating
                  .content.reviews-slider__slide-content
                    p I love this Row Warrior, and I'm on my way to setting and achieving weekly goals (distance, calories, time, resistance, etc).
                    p Thanks, Row Warrior! A+++ 
                  .reviews-slider__slide-name –Treeman

    section.good-appeal
      .container.good-appeal__container
        .good-appeal__inner
          .good-appeal__media
            picture.good-appeal__picture.is-show
              img(src="images/good-appeal-img-1.png", alt="Train like a warrior, transform your life - and do it all without leaving your door")
            picture.good-appeal__picture
              img(src="images/good-appeal-img-2.png", alt="Train like a warrior, transform your life - and do it all without leaving your door")
          .good-appeal__info
            .good-appeal__content
              ul.nav-good.nav-good--size-sm.nav-good--theme-accent.good-appeal__nav
                li.nav-good__item
                  a(href="#").js-tab-link.nav-good__link Black
                li.nav-good__item
                  a(href="#").js-tab-link.nav-good__link.is-active White
              .good-appeal__tab.is-show
                .good-appeal__suptitle Are you ready?
                h2.good-appeal__title Train like a warrior, transform your life - and do it all without leaving your door
                a(href="https://amzn.com/dp/B08B3GJHL6", target="_blank").btn.btn--theme-accent.good-appeal__btn Let’s row
              .good-appeal__tab
                .good-appeal__suptitle Are you ready?
                h2.good-appeal__title Train like a warrior, transform your life - and do it all without leaving your door
                a(href="https://amzn.com/dp/B08B3GJHL6", target="_blank").btn.btn--theme-accent.good-appeal__btn Let’s row

    .modal-video
      button(type="button").js-modal-video-close.modal-close.modal-video__close
        svg.icon.modal-close__icon
          use(xlink:href="images/sprite.svg#close")
      .modal-video__inner
        .modal-video__media
          iframe(width="560", height="315", src="https://www.youtube.com/embed/o5w1SxbMfzc", title="YouTube video player", frameborder="0", allowfullscreen)

    include includes/footer.pug

  include includes/foot.pug