include includes/head.pug

body

  #site
    include includes/header.pug
    div.wb-index
      a(href="home.html", target="_blank") home page
      a(href="profile-account-1.html", target="_blank") profile-account-1
      a(href="profile-account-4.html", target="_blank") profile-account-4
      a(href="tariffs.html", target="_blank") tariffs
    include includes/footer.pug

include includes/foot.pug